{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/search">Search for messages</a>
    <a href="/">Front page</a>
</div>

<h2>Edit your message</h2>
<form action="/forum/{{ forum_id }}/{{ chain_id }}/{{ message_id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Edited message:</p>
    <p><textarea name="message" rows="4" cols="60" value="message"></textarea>
    </p>
    <input type="submit" value="Send">
</form>

{% endblock %}