<h2>{{ name }} - forum</h2>

{% if session.user_id %}
Logged in as <b>{{ session.user_name }}</b>
<p>
Create a new chain here!
<p>
<a href="/forum/{{ id }}/new_chain">New chain</a>
<p>
{% else %}
You have to be logged in to create a new chain
<p>
    <a href="/login">Log in here</a>
    <a href="/register">Create an account here</a>
{% endif %}
<p>
<p>
Chains in {{ name }} - forum
<p>
{% for chain in chains %}
<li><a href="/forum/{{ id }}/{{ chain[0] }}">{{ chain[1] }}</a>
<p>
</li>
{% endfor %}