{% extends "layout.html" %}
{% block content %}


{% if session.user_id %}

<div class="topnav">
    <a href="/forum/{{ id }}/new_chain">New chain</a>
    <a href="/search">Search for messages</a>
    <a href="/">Front page</a>
</div>
<h2>{{ name }} forum</h2>
<p>Logged in as <b>{{ session.user_name }}</b></p>

{% else %}

<div class="topnav">
    <a href="/login">Log in here</a>
    <a href="/register">Create an account here</a>
    <a href="/search">Search for messages</a>
    <a href="/">Front page</a>
</div>
<h2>{{ name }} forum</h2>
<p>You have to be logged in to create a new chain</p>

{% endif %}

<h3>Chains in {{ name }} forum</h3>

<ul>

    {% for chain in chains %}
    <hr>
    <li>
        <p><a href="/forum/{{ id }}/{{ chain[0] }}">{{ chain[1] }}</a></p>
        <p> messages: {{ chain[2] }}</p>
        <p>last activity: {{ chain[3] }} </p>
    </li>
    {% endfor %}
</ul>


{% endblock %}