<h1>Chat-forum</h1>

{% if session.user_id %}
Logged in as <b>{{ session.user_name }}</b>
<p>
{% if session.user_role == 2 %}
You are an admin<p>
Create a new forum here
</p>
<form action="/new_forum" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
Name of the forum: <input type="text" name="name">
<p>
    <input type="submit" value="Create a new forum">
</form>
You can also delete existing forums
{% endif %}
<p>
<form action="/logout" method="post">
<input type="submit" value="Logout">
</form>
{% else %}
Not logged in
<p>
<a href="/login">Log in</a>
<a href="/register">Create an account</a>
{% endif %}
<p>
<h2>Forums</h2>
<a href="/search">Search for messages here</a>
<ul>
    {% for forum in forums %}
    <li><a href="/forum/{{ forum[0] }}">{{ forum[1]}}</a>
    <p> chains: {{ forum[2] }} messages: {{ forum[3] }} last activity: {{ forum[4] }}
    </li>
    {% if session.user_role == 2 %}
    <form action="/delete_forum" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="forum_id" value="{{ forum[0] }}">
        <input type="submit" value="Delete this forum">
    </form>
    {% endif %}
    {% endfor %}
    </ul>