{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/search">Search for messages</a>
    <a href="/">Front page</a>
</div>

<h2>Register</h2>

<form action="/register" method="post">
    <p>Username: <input type="text" name="username">
        (Username must be 4-20 characters)</p>
    <p>
        Password: <input type="password" name="password1">
        (Password must be at least 8 characters)
    </p>
    <p></p>Type password again: <input type="password" name="password2">
    </p>
    <p></p>Role:
    <select name="role">
        <option value="1"> user
        <option value="2"> admin
    </select>
    </p>
    <p>
        <input type="submit" value="Create an account">
    </p>
</form>


{% endblock %}