<h2>Search for a message with a word or a letter</h2>

<form action="/search" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    What you want to find: <input type="text" name="word">
    <p>
    <input type="submit" value="Find">
    </form>

{% if is_words %}
{% if messages == [] %}
No results
{% else %}

{% for message in messages %}
{{ message[4] }}
<p> sent by {{ message[3] }} at {{ message[5] }}
    <a href="/forum/{{ message[2] }}/{{ message[1] }}">Go to this message</a>
</p>

{% endfor %}
{% endif %}
{% endif %}
<p>
<a href="/">Front page</a>